In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as snp
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor





df=pd.read_csv("sap500.csv")
df

,Date,Open,High,Low,Close,Volume
0,1927-12-30,17.660000,17.660000,17.660000,17.660000,0
1,1928-01-03,17.760000,17.760000,17.760000,17.760000,0
2,1928-01-04,17.719999,17.719999,17.719999,17.719999,0
3,1928-01-05,17.549999,17.549999,17.549999,17.549999,0
4,1928-01-06,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
24569,2025-10-23,6703.649902,6749.529785,6700.140137,6738.439941,5565750000
24570,2025-10-24,6772.069824,6807.109863,6772.069824,6791.689941,5058220000
24571,2025-10-27,6845.459961,6877.279785,6843.939941,6875.160156,5290650000
24572,2025-10-28,6897.740234,6911.299805,6870.729980,6890.890137,5695930000
24573,2025-10-29,6910.950195,6920.339844,6851.910156,6890.589844,6280130000

In [ ]:

filtered_df=df[(df['Date']>= '2015-01-01')& (df['Date']<='2025-10-29')]
filtered_df['Date']=pd.to_datetime(filtered_df['Date'])

filtered_df = filtered_df.set_index('Date')
filtered_df=filtered_df.resample('W-FRI').last().reset_index()
X=filtered_df[['Open','High','Low','Volume']]
y=filtered_df['Close']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)


lr=LinearRegression()
lr.fit(X_train,y_train)
close_prediction=lr.predict(X_test)
mse_lr=mean_squared_error(y_test,close_prediction)
rmse=np.sqrt(mse_lr)
mse_lr
rf=RandomForestRegressor(n_estimators=100,random_state=42)
rf.fit(X_train,y_train)
rfclose_prediction=rf.predict(X_test)
mse_rf=mean_squared_error(y_test,rfclose_prediction)

mse_rf

/var/folders/sf/96q0t_6910g1zc4fbf2jfnr00000gn/T/ipykernel_4204/763409081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Date']=pd.to_datetime(filtered_df['Date'])

'rf=RandomForestRegressor(n_estimators=100,random_state=42)\nrf.fit(X_train,y_train)\nrfclose_prediction=rf.predict(X_test)\nmse_rf=mean_squared_error(y_test,rfclose_prediction)\n\nmse_rf'